html{
    overscroll-behavior: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

body{
    background-color: #3b3530;
    
    
}

h1,hr{
    margin-top: 20px;
    margin-bottom: 20px;
}



.header{
    width: 100%;
    height: 150px;
    border: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #2F2A28;
    justify-content: center; 
    align-items: center;    
    font-family: 'JetBrains Mono', monospace; font-weight: 500;
    z-index: 2;
    


    }
    
a {
color:  #ccc;
font-size: 2.19rem;
margin: 6.87rem;
transition: 0.5s

}

a:hover{
    color: white;
}

.title{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 7.5rem;
    font-family: 'Inter', sans-serif; font-weight: 500;
    color: white;


}

.picture1 {
    position: relative; 
    height: 300px;
    width: 300px;
    top: 230px;
    left: 50%;
    transform: translateX(-48%);
    border-radius: 100%; 
    border: 8px solid #5A514E; 
    object-fit: cover; 
    background-color: transparent;

}

.bottom{
    position: relative;
    top: 260px;
    text-align: center;
    left: 17px;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    font-size: 7.5rem; 

}

.ptitle{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Fira Code', 'monospace';
    font-size: 3.125rem;
    top: 500px;
    
    
    
}

.p1{
    color: white;
    position: relative;
    height: 12.5rem;
    text-align: center;
    width: 75rem;
    top: 505px;
    font-size: 1.875rem;
    left: 50%;
    transform: translateX(-48%);
    font-family: 'Fira Code', 'monospace'
}



.hr1{
    position: relative;
    top: 380px;
    border: 0.25rem solid #463f39;
    width: 100vw;
    right: 20px;   
}

.hr2{
    position: relative;
    top: 580px;
    border: 0.25rem solid #463f39;
    width: 100vw;
    right: 20px;
    
    
    
}

.hr3{
    position: relative;
    top: 980px;
    border: 0.25rem solid #463f39;
    width: 100vw;
    right: 20px;


}

.hr4{
    position: relative;
    top: 2000px;
    border: 0.25rem solid #463f39;
    width: 100vw;
    right: 20px;

}

.courses{
    color: white;
    position: relative;
    text-align: center;
    top: 575px;
    font-size: 2.5rem;
    font-family: 'Fira Code', 'monospace';


}

.course{
    color: white;
    position: relative;
    text-align: center;
    top: 575px;
    font-size: 1.875rem;
    width: 50rem;
    height: 15.63rem;
    left: 50%;
    transform: translateX(-48%);
    font-family: 'Fira Code', 'monospace';

}

.experience{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Fira Code', 'monospace';
    font-size: 2.8rem;
    top: 550px; 
}

.experiences{
    color: white;
    position: relative;
    text-align: center;
    top: 555px;
    font-size: 1.88rem;
    width: 50rem;
    height: 15.63rem;
    left: 50%;
    transform: translateX(-48%);
    font-family: 'Fira Code', 'monospace';

    
}



.skills-title{
    color: white;
    position: relative;
    top: 700px;
    text-align: center;
    font-family: "Fira Code", 'monospace';
    font-size: 3.125rem; 
}

.container{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 800px;
    justify-content: center;

}

.container img{
    height: 16rem;
    width: 16rem;
    margin: 0 4.5rem;
    transition: 0.5s;
    
}
.container div{
    transition: 0.5s;
}


.container div:hover{
    transform: scale(1.2);
    transform: translateY(-20%);

}



.container h3{

    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    font-family: "Inter", "sans-serif";
    font-size: 3.125rem;
    
    
}

.projects-title{
    position: relative;
    top: 1100px;
    text-align: center;
    color: white;
    font-family: "Fira Code", 'monospace';
    font-size: 3.125rem; 

}

.contacts-title{
    position: relative;
    top: 2100px;
    text-align: center;
    color: white;
    font-family: "Fira Code", 'monospace';
    font-size: 3.125rem; 

}

.email{
    position:relative;
    color:#ccc;
    top: 30px;
    text-align: center;
    font-family: "Fira Code", 'monospace';
    font-size: 3.125rem;
    
    

}



.mail:hover{
    color: white;
    
}

.container2{
    display: flex;
    flex-wrap: row;
    position: relative;
    top: 2000px;
    justify-content: center;
    right: 20px

}

.container2 img{
    margin: 0 0rem;
    
}

.github{
    height: 6.6rem;
    width: 6.6rem;

}

.linkedin{
    position: relative;
    top: 20px;
    height: 5.4rem;
    width: 5.4rem;

}


.container2 a{
    transition: transform 0.3s;
}

.container2 a:hover{
    transform: scale(1.2);

}

footer{
    background-color:#2F2A28;
    position: relative;
    top:2000px;
    width: 100%;
    width: 100vw;
    right: 5px;
    height:100px;
}

footer h2{
    color: #ccc;
    background-color: #2F2A28;
    text-align: center;
    position: relative;
    top: 40px;
    font-family: 'JetBrains Mono', monospace; font-weight: 500;

}

.projects p{
    position: relative;
    top: 1200px;
    text-align: center;
    color: white;
    font-family: "Fira Code", 'monospace';
    font-size: 3.125rem; 

}





















