
html{
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    

}

body{
    overscroll-behavior: none;
    background-color: #3b3530;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
}



.header{
    width: 100%;
    height: 15%;
    border: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #2F2A28;
    justify-content: center; 
    align-items: center;    
    font-family: 'JetBrains Mono', monospace; font-weight: 500;
    z-index: 2;

    }
    
a {
color:  #ccc;
font-size: 1.19rem;
margin: 5%;
transition: 0.5s

}

a:hover{
    color: white;
}

.title{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 3.75rem;
    font-family: 'Inter', sans-serif; font-weight: 500;
    color: white;


}

.picture1 {
    position: relative; 
    height: 20%;
    width: 20%;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%; 
    border: 8px solid #5A514E; 
    object-fit: cover; 
    background-color: transparent;

}

.bottom{
    position: relative;
    top: 260px;
    text-align: center;
    left: 17px;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    font-size: 3.25rem; 

}

.ptitle{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Fira Code', 'monospace';
    font-size: 1.5rem;
    top: 500px;
    
    
    
}

.p1{
    color: white;
    position: relative;
    height: 20%;
    text-align: center;
    width: 75%;
    top: 505px;
    font-size: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Fira Code', 'monospace'
}





.hr1{
    position: relative;
    top: 380px;
    border: 0.25rem solid #463f39;
    
    
}

.hr2{
    position: relative;
    top: 580px;
    border: 0.25rem solid #463f39;
    
    
    
    
}

.hr3{
    position: relative;
    top: 980px;
    border: 0.25rem solid #463f39;

    


}

.hr4{
    position: relative;
    top: 2000px;
    border: 0.25rem solid #463f39;
  
}

.courses{
    color: white;
    position: relative;
    text-align: center;
    top: 515px;
    font-size: 1.25rem;
    font-family: 'Fira Code', 'monospace';


}

.course{
    color: white;
    position: relative;
    text-align: center;
    top: 515px;
    font-size: 1.25rem;
    width: 50%;
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Fira Code', 'monospace';

}

.experience{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Fira Code', 'monospace';
    font-size: 1.25rem;
    top: 550px; 
}

.experiences{
    color: white;
    position: relative;
    text-align: center;
    top: 555px;
    font-size: 1.25rem;
    width: 50%;
    height: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Fira Code', 'monospace';

    
}



.skills-title{
    color: white;
    position: relative;
    top: 700px;
    text-align: center;
    font-family: "Fira Code", 'monospace';
    font-size: 1.5rem; 
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 800px;
    justify-content: center; 

}

.container img{
    height: 7rem;
    width: 7rem;
    margin: 4.5rem 4.5rem;
    transition: 0.5s;   
}

.container div{
    transition: 0.5s;
}


.container div:hover{
    transform: translateY(-20%);

}



.container h3{
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    font-family: "Inter", "sans-serif";
    font-size: 2.0rem;
    
    
}

.projects-title{
    position: relative;
    top: 1100px;
    text-align: center;
    color: white;
    font-family: "Fira Code", 'monospace';
    font-size: 1.5rem; 

}

.contacts-title{
    position: relative;
    top: 2100px;
    text-align: center;
    color: white;
    font-family: "Fira Code", 'monospace';
    font-size: 1.5rem; 
    
}

.email{
    position:relative;
    color:#ccc;
    top: 30px;
    text-align: center;
    font-family: "Fira Code", 'monospace';
    font-size: 1.5625rem;
    
    
    

}



.mail:hover{
    color: white;
    
}

.container2{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 2050px;
    justify-content: center;
    margin-bottom: 5 rem;
    gap: 80px;
    right:10px;

}


.github{
    position: relative;
    top: 20px;
    height: 3.3rem;
    width: 3.3rem;
    


}

.linkedin{
    position: relative;
    top: 25px;
    height: 2.7rem;
    width: 2.7rem;

}


.container2 a{
    transition: transform 0.3s;
}

.container2 a:hover{
    transform: scale(1.2);

}

footer{
    background-color:#2F2A28;
    position: relative;
    top:2000px;
    width: 100%;
    width: 100vw;
    height:100px;
    max-width: 100%;
    margin-top: 5rem;
}

footer h2{
    color: #ccc;
    background-color: #2F2A28;
    text-align: center;
    position: relative;
    top: 30px;
    font-family: 'JetBrains Mono', monospace; font-weight: 500;

}

.projects p{
    position: relative;
    top: 1200px;
    text-align: center;
    color: white;
    font-family: "Fira Code", 'monospace';
    font-size: 2.00rem; 

}

@media (max-width: 600px){

    .header{
        width: 100%;
        height: 10%;
        border: 1px solid;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        background-color: #2F2A28;
        justify-content: center; 
        align-items: center;    
        font-family: 'JetBrains Mono', monospace; font-weight: 500;
        z-index: 2;
    
        }


    .title{
        position: relative;
        top: 200px;
        text-align: center;
        font-size: 1.25rem;
        font-family: 'Inter', sans-serif; font-weight: 500;
        color: white;
    
    
    }
    
    .picture1 {
        position: relative; 
        height: 20%;
        width: 20%;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%; 
        border: 4px solid #5A514E; 
        object-fit: cover; 
        background-color: transparent;
    
    }
    
    
    .bottom{
        position: relative;
        top: 260px;
        text-align: center;
        color: white;
        font-family: 'Inter', sans-serif; 
        font-weight: 500;
        font-size: 1.25rem; 
        left: 9px;
    
    }

    a {
    color:  #ccc;
    font-size: 0.6rem;
    transition: 0.5s
    }

    .ptitle{
        position: relative;
        text-align: center;
        color: white;
        font-family: 'Fira Code', 'monospace';
        font-size: 0.75rem;
        top: 500px; 
        
    }

    .p1{
        color: white;
        position: relative;
        height: 20%;
        text-align: center;
        width: 75%;
        top: 505px;
        font-size: 0.7rem;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Fira Code', 'monospace'
    }

    .courses{
        color: white;
        position: relative;
        text-align: center;
        top: 515px;
        font-size: 0.55rem;
        font-family: 'Fira Code', 'monospace';
    
    
    }

    .course{
        color: white;
        position: relative;
        text-align: center;
        top: 515px;
        font-size: 0.55rem;
        width: 50%;
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Fira Code', 'monospace';
    
    }

    .experience{
        position: relative;
        text-align: center;
        color: white;
        font-family: 'Fira Code', 'monospace';
        font-size: 0.55rem;
        top: 520px; 
    }
    
    .experiences{
        color: white;
        position: relative;
        text-align: center;
        top: 525px;
        font-size: 0.55rem;
        width: 50%;
        height: 15%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Fira Code', 'monospace';
    
        
    }

    .hr1{
        position: relative;
        top: 340px;
        border: 0.12rem solid #463f39;
        
        
    }

    .skills-title{
        color: white;
        position: relative;
        top: 700px;
        text-align: center;
        font-family: "Fira Code", 'monospace';
        font-size: 0.55rem; 
    }

    .hr2{
        position: relative;
        top: 560px;
        border: 0.12rem solid #463f39; 
    }

    .hr3{
        position: relative;
        top: 950px;
        border: 0.12rem solid #463f39;
    
        
    
    
    }

    .hr4{
        position: relative;
        top: 1980px;
        border: 0.12rem solid #463f39;
      
    }

    .container img{
        height: 4.5rem;
        width: 4.5rem;
        margin: 5.5rem 5.5rem;
        transition: 0.5s;
        
    }

    .projects-title{
        position: relative;
        top: 1100px;
        text-align: center;
        color: white;
        font-family: "Fira Code", 'monospace';
        font-size: 0.55rem; 
    
    }

    .projects p{
        position: relative;
        top: 1200px;
        text-align: center;
        color: white;
        font-family: "Fira Code", 'monospace';
        font-size: 0.75rem; 
    
    }

    .contacts-title{
        position: relative;
        top: 2050px;
        text-align: center;
        color: white;
        font-family: "Fira Code", 'monospace';
        font-size: 0.75rem; 
      
    
    }

    .email{
        position:relative;
        color:#ccc;
        top: 30px;
        text-align: center;
        font-family: "Fira Code", 'monospace';
        font-size: 0.5625rem;
    
    }
    
    
    
    .mail:hover{
        color: white;
        
    }
    
    .container2{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 2050px;
        justify-content: center;
        margin-bottom: 5 rem;
        gap: 40px;
        left: 0px;
    
    }
    
    
    
    
    
    .github{
        position: relative;
        top: 25px;
        height: 1.45rem;
        width: 1.45rem;
        
    
    
    }
    
    .linkedin{
        position: relative;
        top: 25px;
        height: 1.35rem;
        width: 1.35rem;
    
    }

    footer h2{
        color: #ccc;
        background-color: #2F2A28;
        text-align: center;
        position: relative;
        top: 30px;
        font-family: 'JetBrains Mono', monospace; font-weight: 500;
        font-size: 0.75rem;
    
    }

}

@media (max-width: 495.5px){ 

    .container div:hover{
        transform: translateY(0%);
    
    }




}
























